.card {
  height: 200px;
  display: flex;
  flex-direction: column;
  /* background-color: #1f1f1f; */
  /* border: 1px solid #303030; */
  /* border-radius: 8px; */
  overflow: hidden;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: 0.5s;

  &:hover {
    transform: translateY(-50px);
  }
}

.card-header {
  height: 10rem;
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card-title {
  white-space: normal;
  color: #ffffff;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  flex: 1;
  margin-right: 8px;
}

.card-extra {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  align-items: center;
  padding-bottom: 10px;
  margin: 0;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}

.card:nth-child(1) .card-body {
  background: #2196f3;
}

.card:nth-child(2) .card-body {
  background: #4caf50;
}

.card:nth-child(3) .card-body {
  background: #ff9800;
}

.card-meta {
  margin: 0;
  text-align: center;
}

.card-author {
  color: #ffffff;
  font-size: 14px;
}

.delete-icon {
  color: #ff4d4f;
  transition: all 0.3s ease;
  font-size: 18px;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #da0b0b;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  /* background: #fff; */
  color: #000;
}

.delete-button:hover .delete-icon {
  color: #fff;
}

.star-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 8px;
  border-radius: 6px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.star-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

/* .star-button:hover {
  background-color: #f0f0f0;
} */