.card {
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  border: 1px solid #303030;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  min-height: 8rem;
  padding: 0 12px;
  border-bottom: 1px solid #303030;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: hidden; 
}

.card-title {
  white-space: normal;
  padding: 12px 0;
  color: #ffffff;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  flex: 1;
  margin-right: 8px;
}

.card-extra {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card-body {
  padding: 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-meta {
  margin: 0;
  text-align: center;
}

.card-author {
  color: #ffffff;
  font-size: 14px;
}

.delete-icon {
  color: #ff4d4f;
  transition: all 0.3s ease;
  font-size: 18px;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid #da0b0b;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #da0b0b;
}

.delete-button:hover .delete-icon {
  color: #fff;
}

.star-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 8px;
  border-radius: 6px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-button:hover {
  background-color: #f0f0f0;
}
